@model IEnumerable<ExamApp.Trackers>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @*    <partial name="_EmployeePartial" />
    *@    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading panel-color">
                <span>لیست مکتوب های واده</span>
                <span style="float:left"><a href="/">بازگشت</a></span>
            </header>
            <div class="panel-body">
                <span>
                    @Html.Raw( TempData["messages"])
                </span>
                <table class="table table-striped table-advance table-hover table-bordered" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.In_Number)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ArchiveNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Subject)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.In_Date)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Remark)
                            </th>
                            <th>
                                ضمیمه
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.isApprove)
                            </th>
                            <th>

                                <a asp-action="Create" class="btn btn-primary btn-sm">ثبت وارده </a>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Out_Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ArchiveNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.In_Date)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Remark)
                                </td>
                                <td>
                                    @{
                                        if (item.atachFiles.Count > 0)
                                        {
                                            <div>دارد</div>
                                        }
                                        else
                                        {
                                            <div>ندارد</div>
                                        }

                                    }
                                </td>
                                <td>

                                    @{
                                        if (item.isApprove == true)
                                        {
                                            <div class="text-success">تائید شده</div>
                                        }
                                        else
                                        {
                                            <div class="text-danger">هنوز تائید نشده</div>
                                        }
                                    }


                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-white  btn-xs">گزینه ها</button>
                                        <button type="button" class="btn btn-white  btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="margin-right:-83px;">
                                            <li>
                                                <a asp-action="Edit" asp-route-id="@item.Id">
                                                    <i class="icon-edit"></i> ویرایش
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-action="Details" asp-route-id="@item.Id">
                                                    <i class="icon-eye-open"></i> جزئیات
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" onclick="Delete(@item.Id)">
                                                    <i class="icon-remove"></i> حذف
                                                </a>
                                            </li>

                                            <li>
                                                <a asp-action="Approve" asp-route-id="@item.Id">
                                                    <i class="icon-list"></i>تائید  Approve
                                                </a>
                                            </li>

                                        </ul>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </section>
    </div>
</div>
